form {
    padding-left: 0.5em;
}

span {
     color: red;
}

#body {
    width: 500px;
    height: 500px;
}

textarea {
    box-sizing: border-box;
    margin-left: 0.2em;
}

input[type="submit"] {
    margin-left: 0.2em;
}