h1 {
    margin-top: 0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    background: darkturquoise;
    padding: 0.5em;
}

body {
    background: #e4f1fe;
}

p {
    padding-left: 2em;
}