nav {
    background: dodgerblue;
    margin: 0;
    display: flex;
    border: 1px solid black;
}

nav div:hover {
    background: cornflowerblue;
    cursor: pointer;
}

nav div {
    display: inline;
    padding: 1em;
    width: 25%;
    text-align: center;
    font-size: 1em;
    border-right: 1px solid black;
}