body {
    display: inline;
    margin: 0;
}

nav {
    background: #1259DE;
    margin: 0;
    display: flex;
    border: 1px solid black;
}

nav div:hover {
    background: #3131E3;
    cursor: pointer;
}

nav div {
    display: inline;
    padding: 1em;
    width: 25%;
    text-align: center;
    font-size: 1em;
    border-right: 1px solid black;
}