<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servlets Browse</title>
    <link th:href="@{/style/fonts.css}" rel="stylesheet">
    <link th:href="@{/style/browse.css}" rel="stylesheet">
</head>

<body>

<div th:replace="fragments/header.html :: header"></div>

<div id="products">
    <div class="product-tile" th:each="product: ${products}" th:data-product-id="${product.id}">
        <p class="product-name" th:text="${product.name}"></p>
        <p class="product-description" th:text="${product.description}"></p>
        <div th:each="category: ${product.categories}" class="product-categories">
            <p class="category" th:text="${category}"></p>
        </div>
        <p class="product-price" th:text="${product.price}"></p>
    </div>
</div>


</body>
</html>